<!--This code comes from Jinnyzor on the Plotly forums with some 
minor edits on my end. It is part of his setup for establishing a flask-login
process outside of the Dash app. 
Source of the original code:
https://community.plotly.com/t/dash-app-pages-with-flask-login-flow-using-flask/69507/38
Jinnyzor kindly made this code free to use in other projects:
https://community.plotly.com/t/dash-app-pages-with-flask-login-flow-using-flask/69507/55-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Login Flow</title>
</head>
<body>
<form method="POST" action="/login">
    <div>Please log in to continue. <br>(Note: This page has been added in to demonstrate how Plotly apps can be protected behind login screens and not because there is anything confidential within the app. <br><b>You can use 'hello' as the username and 'world' as the password.</b>)</div>
    <div><span style="color:red">{{message}}</span></div>
    <input placeholder="Enter your username" type="text" id="uname-box" name='username'>
    <input placeholder="Enter your password" type="password" id="pwd-box" name='password'>
    <Button type="submit" id="login-button">Login</Button>
</form>
</body>
</html>